<h1>Blazor SVG Diagram</h1>

<div>
    <label>Width:</label>
    <input type="number" @bind="Width" />
    <label>Height:</label>
    <input type="number" @bind="Height" />
    <button @onclick="InitializeSvg">Create Workspace</button>
</div>

<div id="svg-container">
</div>

<div id="diagram-properties">
    @if (_selectedElement != null)
    {
        <h3>Selected Element: @_selectedElement.Type</h3>
        @if (_selectedElement.Type != null)
        {
            <p>X: @_selectedElement.X</p>
            <p>Y: @_selectedElement.Y</p>
        }
        @if (_selectedElement.Type == "circle")
        {
            <p>Radius: @_selectedElement.Radius</p>
        }
        else if (_selectedElement.Type == "rect")
        {
            <p>Width: @_selectedElement.Width</p>
            <p>Height: @_selectedElement.Height</p>
        }
        else if (_selectedElement.Type == "line")
        {
            <p>X2: @_selectedElement.X2</p>
            <p>Y2: @_selectedElement.Y2</p>
        }
        else if (_selectedElement.Type == "image")
        {
            <p>Width: @_selectedElement.Width</p>
            <p>Height: @_selectedElement.Height</p>
        }
    }
    else
    {
        <p>No element selected.</p>
    }
</div>

<div>
    @if(_svgModule != null){
        <ButtonAddFigure SvgModule="_svgModule" FigureName="rectangle" Parameters="@(new object[] {50, 50, 100, 80, "red"})"></ButtonAddFigure>
        <ButtonAddFigure SvgModule="_svgModule" FigureName="circle" Parameters="@(new object[] {150, 150, 50, "blue"})"></ButtonAddFigure>
        <ButtonAddFigure SvgModule="_svgModule" FigureName="line" Parameters="@(new object[] {20, 20, 200, 100, "green"})"></ButtonAddFigure>
        <ButtonAddFigure SvgModule="_svgModule" FigureName="image" Parameters="@(new object[] {"https://opencart.club/uploads/monthly_2022_04/12e706e67.png.e826c2e86cba6107b041e6e0abe32780.png", 250, 250, 100, 100})"></ButtonAddFigure>
    }
</div>
