@page "/"
@using Blazor.SvgDiagram.Extension
@using Blazor.SvgDiagram.Interfaces

@inject IJSRuntime JSRuntime
@inject IDiagram Diagram
@inject IShapeFactory Shape

<h1>Blazor SVG Diagram</h1>

<div>
    <label>Width:</label>
    <input type="number" @bind="Width" />
    <label>Height:</label>
    <input type="number" @bind="Height" />
    <button @onclick="@(async => Diagram.InitializeAsync("svg-container", Width, Height))">Create Workspace</button>
</div>

<div id="svg-container">
</div>

<div id="diagram-properties">
    @if (_selectedElement != null)
    {
        <h3>Selected Element: @_selectedElement.Type</h3>
        @if (_selectedElement.Type != null)
        {
            <p>X: @_selectedElement.X</p>
            <p>Y: @_selectedElement.Y</p>
        }
        @if (_selectedElement.Type == "circle")
        {
            <p>Radius: @_selectedElement.Radius</p>
        }
        else if (_selectedElement.Type == "rect")
        {
            <p>Width: @_selectedElement.Width</p>
            <p>Height: @_selectedElement.Height</p>
        }
        else if (_selectedElement.Type == "line")
        {
            <p>X2: @_selectedElement.X2</p>
            <p>Y2: @_selectedElement.Y2</p>
        }
        else if (_selectedElement.Type == "image")
        {
            <p>Width: @_selectedElement.Width</p>
            <p>Height: @_selectedElement.Height</p>
        }
    }
    else
    {
        <p>No element selected.</p>
    }
</div>

<div>
    <button @onclick="AddRectangle">Add Rectangle</button>
    <button @onclick="AddCircle">Add Circle</button>
    <button @onclick="AddLine">Add Line</button>
    <button @onclick="AddImage">Add Image</button>
</div>

@code {
    private int Width { get; set; } = 800;
    private int Height { get; set; } = 600;
    private IJSObjectReference? _svgModule;
    private ElementInfo? _selectedElement;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await Diagram.InitializeAsync("svg-container", Width, Height);
            DiagramHelper.Initialize(this);
        }
    }

    private async Task AddRectangle() => await Diagram.AddShapeAsync(Shape.CreateShape("rectangle", JSRuntime, 50, 50, 100, 80, "red"), Diagram.GetSvgModule());

    private async Task AddCircle() => await Diagram.AddShapeAsync(Shape.CreateShape("circle", JSRuntime, 150, 150, 50, "blue"), Diagram.GetSvgModule());

    private async Task AddLine() => await Diagram.AddShapeAsync(Shape.CreateShape("line", JSRuntime, 20, 20, 200, 100, "green"), Diagram.GetSvgModule());

    private async Task AddImage() => await Diagram.AddShapeAsync(Shape.CreateShape("image", JSRuntime, "https://opencart.club/uploads/monthly_2022_04/12e706e67.png.e826c2e86cba6107b041e6e0abe32780.png", 250, 250, 100, 100), Diagram.GetSvgModule());

    public void SelectElementInternal(string type, double x, double y, double width = 0, double height = 0, double r = 0, double x1 = 0, double y1 = 0, double x2 = 0, double y2 = 0)
    {
        _selectedElement = new ElementInfo
            {
                Type = type,
                X = x,
                Y = y,
                Width = width,
                Height = height,
                Radius = r,
                X1 = x1,
                Y1 = y1,
                X2 = x2,
                Y2 = y2
            };
        StateHasChanged();
    }

    // Data model for element properties
    public class ElementInfo
    {
        public string Type { get; set; }
        public double X { get; set; }
        public double Y { get; set; }
        public double Width { get; set; }
        public double Height { get; set; }
        public double Radius { get; set; }

        public double X1 { get; set; }
        public double Y1 { get; set; }
        public double X2 { get; set; }
        public double Y2 { get; set; }
    }

    public async ValueTask DisposeAsync()
    {
        await Diagram.DisposeAsync();
    }
}
